- const { showConfig } = state;

if showConfig
  form.range-slider__config.js-range-slider__config
    p.range-slider__config-header= 'const options = {'
    -
      const checkboxInputClasses = [
        'range-slider__config-input',
        'range-slider__config-input_type_checkbox',
        'js-range-slider__config-input_type_checkbox',
      ];
      const textInputClasses = [
        'range-slider__config-input',
        'range-slider__config-input_type_text',
        'js-range-slider__config-input_type_text',
      ];
    each val, key in state
      if key !== 'showConfig'
        p.range-slider__config-input-group.js-range-slider__config-input-group
          label.range-slider__config-label= key
          if typeof val === 'boolean'
            input(name=key type='checkbox' checked=val class=checkboxInputClasses)
          else
            input(name=key type='text' value=val class=textInputClasses)
    p.range-slider__config-footer= '}'