-
  const handleClasses = [
    'range-slider__handle',
    'js-range-slider__handle',
    `range-slider__handle_type_${type}`,
    `js-range-slider__handle_type_${type}`,
  ];
  const { value, value2, showBubble } = state;
  const val = type === 'from' ? value : value2;

a(class=handleClasses data-value=val)
  if showBubble
    .range-slider__bubble.js-range-slider__bubble= val