- const blockModifiers = [];
- const { range, value, value2, vertical, showBubble, showConfig } = state;

if vertical
  - blockModifiers.push('range-slider_orientation_vertical')
  - blockModifiers.push('js-range-slider_orientation_vertical')

.range-slider.js-range-slider(class=blockModifiers)
  .range-slider__track.js-range-slider__track
    -
      const handleFromClasses = [
        'range-slider__handle',
        'js-range-slider__handle',
        'range-slider__handle_type_from',
        'js-range-slider__handle_type_from',
      ];
    a(class=handleFromClasses)
      if showBubble
        .range-slider__bubble.js-range-slider__bubble= value
    if (range)
      .range-slider__selection.js-range-slider__selection
      -
        const handleToClasses = [
          'range-slider__handle',
          'js-range-slider__handle',
          'range-slider__handle_type_to',
          'js-range-slider__handle_type_to',
        ];
      a(class=handleToClasses)
        if showBubble
          .range-slider__bubble.js-range-slider__bubble= value2
  if showConfig
    form.range-slider__config.js-range-slider__config
      p.range-slider__config-header= 'const options = {'
      -
        const checkboxInputClasses = [
          'range-slider__config-input',
          'range-slider__config-input_type_checkbox',
          'js-range-slider__config-input_type_checkbox',
        ];
        const textInputClasses = [
          'range-slider__config-input',
          'range-slider__config-input_type_text',
          'js-range-slider__config-input_type_text',
        ];
      each val, key in state
        if key !== 'showConfig'
          p.range-slider__config-input-group.js-range-slider__config-input-group
            label.range-slider__config-label= key
            if typeof val === 'boolean'
              input(name=key type='checkbox' checked=val class=checkboxInputClasses)
            else
              input(name=key type='text' value=val class=textInputClasses)
      p.range-slider__config-footer= '}'